@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                          #ECECEA;
$font-family-sans-serif:           'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                    45px;
$navbar-default-bg:                white;
$navbar-default-brand-color:       #558C89;
$brand-primary:                    #558C89;
$jumbotron-bg:                     white;